* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

.photo img {
  opacity: 0.7;
  border-radius: 20px;
  border-style: outset;
}

header {
  background-color: #343a40;
  display: grid;
  grid-template-columns: 180px auto;
  font-weight: bold;
  z-index: 1030;
  position: fixed;
  width: 100%;
}
header brand {
  color: #5bc0de;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  width: 300px;
}
header brand:hover {
  background-color: #4e5d6c;
  color: #5cb85c;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  color: #5bc0de;
}
header nav a {
  text-decoration: none;
  color: #5bc0de;
  padding: 20px;
  height: 100%;
  font-size: 20px;
}
header nav a:hover {
  background-color: #4e5d6c;
}
header nav a:active {
  color: #5cb85c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303139;
  color: #5bc0de;
  padding: 50px;
}
main section {
  padding-bottom: 50px;
}
main section a {
  text-decoration: none;
  color: #89529a;
}
main section a:hover {
  color: #4dbc97;
}

.grid-container--banner {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  font-size: 20px;
  padding-top: 50px;
}
.grid-container--banner div:nth-child(1) {
  align-self: center;
}
.grid-container--banner .grid-item {
  font-size: 50px;
}

.grid-container--projects {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container--projects div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #303139;
  font-size: 30px;
}
.grid-container--projects .grid-item {
  background-color: #343a40;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.grid-container--skills {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container--skills div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
  text-align: center;
}
.grid-container--skills .grid-item {
  text-align: center;
}
.grid-container--skills i {
  font-size: 50px;
  color: #4c9be8;
}

.grid-container--about {
  display: grid;
  gap: 20px 350px;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 50px;
  padding-right: 50px;
}
.grid-container--about div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-container--about .grid-item {
  font-size: 20px;
}
.grid-container--about .grid-item h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 50px;
}
.grid-container--about .grid-item p {
  margin-bottom: 20px;
}
.grid-container--about .grid-item ul {
  margin-left: 30px;
}
.grid-container--about .photo img {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #4e5d6c;
  padding: 20px;
  text-align: center;
}
footer a {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #5bc0de;
  font-size: 20px;
  color: #303139;
}
footer a:active {
  color: #5cb85c;
}
footer a:hover {
  text-decoration: underline;
  background-color: #4e5d6c;
}
footer i {
  font-size: 30px;
  color: #303139;
}
footer i:active {
  color: #5cb85c;
}

/* Mobile View */
@media screen and (min-width: 390px) and (max-width: 844px) {
  header {
    grid-template-columns: auto;
    position: relative;
  }
  header brand {
    display: none;
  }

  section.grid-container--banner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0;
  }
  section.grid-container--banner .grid-item.photo {
    display: none;
  }

  section.grid-container--projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  section.grid-container--projects div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  section.grid-container--about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  section.grid-container--about div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  section.grid-container--about div:nth-child(1) p {
    margin-top: 30px;
  }
  section.grid-container--about .grid-item.photo img {
    display: block;
    margin: auto;
  }
}
/* Tablet View */
@media screen and (min-width: 834px) and (max-width: 1194px) {
  section.grid-container--projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.grid-container--projects div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  section.grid-container--about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section.grid-container--about div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}