@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Open+Sans&display=swap');
$font-headings: 'Amaranth',
sans-serif;
$font-text: 'Open Sans',
sans-serif;

h1 {
    font-family: $font-headings;
  }