$color-primary: #4c9be8;
$color-secondary:#4e5d6c;
$color-background:rgb(48, 49, 57);
$color-light: lighten(#4e5d6c, 35%);
$color-info: #5bc0de;
$color-highlight: #20c997;
$color-success: #5cb85c;
$color-grey: #343a40;
$padding-large: 50px;
$padding-small: 20px;