/* $background-color:#20374c; */
/* $primary-color: #878F94;
$secondary-color:#272B30;
$background-color:#ffb78c; */
/* $background-color:#4B4F54; */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

nav,
nav * {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 1.25em;
  background-color: #4e5d6c;
  color: #5bc0de;
}
nav a,
nav * a {
  display: block;
  /* 
  width: 100%; */
  text-decoration: none;
  color: #5bc0de;
}
nav a:hover,
nav * a:hover {
  text-decoration: underline;
  background-color: #4e5d6c;
}
nav a:active,
nav * a:active {
  color: #5cb85c;
}

#name {
  width: 25%;
  height: 100%;
  color: #5bc0de;
  justify-content: center;
  font-size: 40px;
}
#name:hover {
  background-color: #4e5d6c;
  color: #5cb85c;
}

#nav-links {
  width: 50%;
  height: 100%;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303139;
  color: #5bc0de;
}

.banner {
  flex-direction: column;
  font-size: 50px;
  padding-bottom: 100px;
  /* height: 50px; */
  /*  display: flex;
   justify-content: center;
   align-items: center;
   height: 20rem; */
  /* background: url("https://t3.ftcdn.net/jpg/03/99/09/66/360_F_399096694_rI4J6yHpEaijvG36k8ybRFrqKpKp6pOn.jpg") center center no-repeat; */
  /* background: url("https://media.istockphoto.com/photos/old-wall-pattern-texture-cement-blue-dark-abstract-blue-color-design-picture-id1288852672?b=1&k=20&m=1288852672&s=170667a&w=0&h=LjkyX5l647s6zXRSfN5AbI7UU7m_jFncv_2OCc9gbqg=") center center no-repeat; */
  /*  background: url("https://cdn11.bigcommerce.com/s-5v2qks90xv/images/stencil/500x659/products/572/1596/SFTOM30-2__06133.1514761865.jpg?c=2") center center no-repeat; */
  /* background-image: url("Me12.jpg" ); */
  opacity: 0.8;
  /*   background-size: cover;
    color: $info-color;

    margin: 20px;
        border-radius: 20px;
        font-size: 50px;*/
}

.grid-container--about {
  display: grid;
  gap: 20px 350px;
  grid-template-columns: auto auto;
  font-size: 20px;
  /* 
  background-color: black; */
}
.grid-container--about div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: start;
  padding: 200px;
  font-size: 30px;
  /* background: url("BottomPicture.jpg") center center no-repeat; */
}
.grid-container--about div:nth-child(1) h1 {
  text-align: center;
  padding-bottom: 30px;
}
.grid-container--about .grid-item {
  font-size: 20px;
  padding: 90px;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #4e5d6c;
}
footer a {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #5bc0de;
  font-size: 20px;
  color: #303139;
}
footer a:active {
  color: #5cb85c;
}
footer a:hover {
  text-decoration: underline;
  background-color: #4e5d6c;
}
footer i {
  font-size: 40px;
  color: #303139;
}
footer i:active {
  color: #5cb85c;
}

.grid-container--projects {
  display: grid;
  gap: 70px 150px;
  grid-template-columns: auto auto auto;
}
.grid-container--projects div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #303139;
  border: none;
}
.grid-container--projects .grid-item {
  background-color: #343a40;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container--skills {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
  padding: 100px;
  /*  .grid-item {
     font-size: 20px;
   } */
}
.grid-container--skills div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 30px;
}
.grid-container--skills i {
  font-size: 60px;
  color: #4c9be8;
}

.grid-container--banner {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: auto auto;
  font-size: 20px;
  padding: 100px;
}
.grid-container--banner div:nth-child(1) {
  justify-self: center;
  align-self: center;
}
.grid-container--banner .grid-item {
  font-size: 50px;
  opacity: 0.8;
}

mark {
  background-color: #5bc0de;
  color: #303139;
}

span {
  font-size: 30px;
  font-family: "Amaranth", sans-serif;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 30px;
}
.skills p {
  padding: 50px;
}
.skills i {
  font-size: 50px;
  color: #4c9be8;
}